:root {
  --color-primary: #003152;
  --color-primary-light: #003152;
  --color-secondary: lightgrey;
  --color-accent: #c4aead;
  --color-option: white;

  --font-primary: "Josefin Sans", "Acumin Pro", Arial, sans-serif;
  --font-secondary: "Acumin Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
