:root {
  --color-primary: black;
  --color-primary-light: white;
  --color-secondary: lightgrey;
  --color-accent: red;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: purple;

  --font-primary: "Josefin Sans", "Acumin Pro", Arial, sans-serif;
  --font-secondary: "Acumin Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
